body {
    margin: 0;
    padding: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333;
}

a {
    color: #6933DC;
}

@font-face {
    src: url("../fonts/MuseoSansCyrl-500.ttf");
    font-family: "Museo Sans Cyrl";
}

@font-face {
    src: url("../fonts/MuseoSansCyrl-700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    padding: 14px 35px;
    border-radius: 6px;
    background: #6933DC;
    color: #FFF;
    font-size: 17px;
    line-height: 20px;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
    /*добавляем после замены кнопки на ссылку*/
    text-decoration: none;
}

/*после замены кнопки на ссылку она стала занимать не все прострнаство, являясь строчным элементом
превращаем ее в блочный элемент*/
a.button{
    display: inline-block;
}

.button:hover {
    background: #32098a;
}

/*добавляем стили для не функциональной кнопки*/
.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover {
    background: #6933DC;
    color: #fff;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px 0;
    color: #DCDCF3;
    font-size: 13px;
    line-height: 16px;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933DC;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

